*{
	padding: 0;
	margin: 0;
}

.form_design select {
	padding-right: 20px;
	margin-top: 14px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}

form {
	text-align: center;
	padding: 70px;
	background: aliceblue;
	padding-bottom: 263px;
}

h2 {
	text-align: center;
	background: aliceblue;
	font-size: 50px;
	padding-bottom: 25px;
}
form p {
	margin-top: 30px;
}

.form_design select {
	padding-right: 27px;
	margin-top: 25px;
	margin-bottom: 75px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 15px;
}
label {
	font-size: 25px;
}

/*.form_design {
	padding-right: 100px;
	padding-left: 100px;
	margin-left: 150px;
	margin-right: 150px;
	padding-bottom: 0px;
}
*/
.heading_area p {
	text-align: center;
	padding: ;
	padding-right: ;
	margin-right: 280px;
	color: red;
	background: aliceblue;
	margin-top: -20px;
	margin-bottom: ;
	padding-bottom: ;
	margin-left: -240px;
}


#IMEI {
	padding-bottom: 10px;
	margin-bottom: 100px;
	margin-top: 15px;
	border: 0px;
	padding-right: 0px;
}
input[type='submit']:hover{
  	color:white;
  	background: #7349BD;
  	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-radius: 4px;
  transition: all .5s;
}
input {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-radius: 4px;
}

.first_div {
	border: 2px solid darkgray;
	border-radius: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.submit_button input[type="submit"] {
	background: #673AB7;
	color: white;
	border-radius: 11px;
	padding: ;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="submit"]:hover {
	background: #8A5DCA;

}

